<h1>Restablece tu contrase침a</h1>
<p>Haz clic en el siguiente enlace para restablecer tu contrase침a:</p>
<p><a href='{{resetLink}}'>Restablecer contrase침a</a></p>
<p>Este enlace expirar치 en 30 minutos.</p>