@import 'tailwindcss';

/* =========================
   Skeleton shimmer (global)
   ========================= */

@keyframes shimmer {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

/* Contenedor base del skeleton */
.skeleton {
    position: relative;
    overflow: hidden;
    background-color: #e5e7eb;
    /* gray-200 */
    border-radius: 12px;
}

/* Brillo animado */
.skeleton::after {
    content: "";
    position: absolute;
    inset: 0;
    transform: translateX(-100%);
    background: linear-gradient(90deg,
            transparent,
            rgba(255, 255, 255, 0.6),
            transparent);
    animation: shimmer 1.2s infinite;
}

@keyframes skeleton-shimmer {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

.skeleton {
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(90deg,
            rgba(255, 255, 255, 0.06) 0%,
            rgba(255, 255, 255, 0.18) 50%,
            rgba(255, 255, 255, 0.06) 100%);
    background-size: 200% 100%;
    animation: skeleton-shimmer 1.2s ease-in-out infinite;
}

.hover-bg-blue:hover {
    background-color: #408FD8;
}

.hover-bg-red:hover {
    background-color: #780f09;
}

.color-red {
    color: #b21b13;
}

.color-red-bg {
    background-color: #b21b13;
}

.color-gray-md {
    color: #333;
}

.color-gray-sm {
    color: #888;
}

.color-gray-md-bg {
    background-color: #968e8e;
}

.color-gray-sm-bg {
    background-color: #D9D9D9;
}

.color-blue-bg {
    background-color: #408FD8;
}

.color-blue {
    color: #408FD8;
}


.color-blue-footer-bg {
    background-color: #023D71;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    /* background: var(--foreground); */
    color: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}